name: CI - FastAPI TDD + Lint + Format

on:
  push:
    branches: [ "green", "main" ]
  pull_request:
    branches: [ "green", "main" ]

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install black flake8

      - name: Run Black (code formatting)
        run: black .


      - name: Run Flake8 (lint)
        run: flake8 .

      - name: Run Tests
        run: pytest -v
